<div id="configMailModal">
    <h4 class="modal-title" id="configMailModalLabel">Envío de Mail - Servicio</h4>

    <div class="modal-body">
        <form id="configMailForm">
            <div class="mb-3">
                <label for="emailInput" class="form-label">Correo electrónico</label>
                <input type="email" class="form-control" id="emailInput" required placeholder="Ingresa un correo electrónico">
                <div class="invalid-feedback">
                    Por favor, ingrese un correo electrónico válido.
                </div>
            </div>
            <button type="submit" class="btn btn-primary" id="sendEmailBtn">Enviar</button>
        </form>
    </div>
</div>
